{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Greyskull LP Workout Planner</h1>
          <span class="subheading">Track your lifts with me!.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->

<div class = "container .mx-auto col-sm-6 col-lg-3">
<form class = "lift">
<ul class=" list-group ">
  <h3>Deadlift</h3>
  <li class="list-group-item">Warmup Set: 135 x 5 </li>
  <li class="list-group-item">Warmup Set: 165 x 3</li>
  <li class="list-group-item">Warmup Set: 185 x 2</li>
  <li class="list-group-item">Working Set: 225 x 5</li>
  <li class="list-group-item">Working Set: 225 x 5</li>
  <li class="list-group-item">Working Set: 225 x 5+</li>
   <label for="weight">Weight</label> <input type="number" id="weight">
  <label for="reps">Final Set Reps</label> <input type="number" id="reps">
  <br>
  <button type="submit" class="btn btn-primary">Log Lift</button>
</ul>
</form>
</div>

<ul class="list-group col-sm-3 ">
  <h3>Deadlift</h3>
  <li class="list-group-item">Warmup Set: 135 x 5 </li>
  <li class="list-group-item">Warmup Set: 165 x 3</li>
  <li class="list-group-item">Warmup Set: 185 x 2</li>
  <li class="list-group-item">Working Set: 225 x 5+</li>
  {{render_form(form, button_map={"submit": "primary"}) }}

</ul>
<div>
<button type="button" class="btn btn-primary">Skip Lift</button>
</div>




{% include "footer.html" %}
